<a href="https://colab.research.google.com/github/SanketMhatre94/tsf1/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Output

In [ ]:
# print()

print(22)

22

In [ ]:
print("hello world")

hello world

In [ ]:
print("hello", 2 , 3,5)

hello 2 3 5

In [ ]:
print("hello", 2 , 3,5, sep='>')

hello>2>3>5

# Data Type

Intiger 1, 2, 3, 4,....

Float   1.1,2.3, 3.4,....

String  abc , xyz

Boolean True, false

In [ ]:
print(7)

7

In [ ]:
#type
type(7)

int

In [ ]:
print(9.9)
type(9.95454145)

9.9

float

In [ ]:
print("Hello")
type('hello')

Hello

str

In [ ]:
type(False)

bool

# Variables

In [ ]:
a = 1
b = 2
c = 3
print(a, b, c)

1 2 3

In [ ]:
x, y , z = 1, 2, 3
print(x, y,z)

1 2 3

In [ ]:
l = "jeet"
print(l)

jeet

In [ ]:
l = m = n = 5
print(l, m, n)

5 5 5

List []


*   Mutable
*   Allow duplicate

In [ ]:
li = [1,2,3,4,'sa',3]
print(li)

[1, 2, 3, 4, 'sa', 3]

In [ ]:
type(li)

list

In [ ]:
li[0] = 6
print(li)

[6, 2, 3, 4, 'sa', 3]

Tuple ( )


*   im mutabel
*   allow duplicates

In [ ]:
tu = (5,7,8,2, 'saas', 8)
print(tu)

(5, 7, 8, 2, 'saas', 8)

In [ ]:
type(tu)

tuple

In [ ]:
tu[0] = 4

TypeError: 'tuple' object does not support item assignment

Set { }


*   Immutable
*   unorder
*   no duplicates

SyntaxError: invalid syntax (<ipython-input-42-ee9d17e6d7b9>, line 1)

In [ ]:
se = {'sim', 1, 2, 3, 4, 'sag', 4}
type(se)

set

In [ ]:
print(se)

{1, 2, 3, 4, 'sag', 'sim'}

Dictionary { }


*   Immutable
*   key value pair

In [ ]:
print({'name':'sam', 'roll_no':32})

{'name': 'sam', 'roll_no': 32}

In [ ]:
d = {'brand':'Toyota', 'Model':'fortuner', 'year':2019}
d['year']

2019

In [ ]:
dic ={
    "brand":"Toyota",
    "electric": "False",
    "year" : 2016,
    "colours": ["red", "blue", "green"]
}
print(dic)

{'brand': 'Toyota', 'electric': 'False', 'year': 2016, 'colours': ['red', 'blue', 'green']}

# User input

In [ ]:
#input()

email = input("Enter your email")
print("your email id is : ",email)

Enter your emailsag@gmail.com
your email id is :  sag@gmail.com

In [ ]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Vidhi
Hello Vidhi

In [ ]:
#addition of 2 numbers
m1 = int(input("Enter first number "))   #5
m2 = int(input("Enter second number "))  #20

sum = m1 + m2
print(sum)                          #  25

Enter first number 5
Enter second number 20
25

# Operators

In [ ]:
#Arithmetic Op (+, -, *, /, %, **)
print(5+5)          #5+5=10
print(15-5)         #10
print(3*7)          #21
print(50/10)        #5
print(28%2)         #28/2 -> 14 =0
print(2**3)         #2*2*2

10
10
21
5.0
0
8

In [ ]:
# Assignment operator
# =
a = 2     #a=2
a +=3     #a+3 = 2+3 =5
a

5

In [ ]:
#Relational Operators (!=, >, <, == )

#print(4 < 10)
#print(4 != 10)
#print(12 > 12)
#print(4 == 10)
print(10 >= 10)

True

# Conditional Statement

if(condition):

In [ ]:
# if

a = 50
b = 20
if(a > b):
  print(a, "is greater than ", b)

In [ ]:
# if-else

a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))

if(a > b):                                #(22 > 55)
  print(a, "is greater than", b)
else:
  print(b, "is greater than", a )

Enter 1st number22
Enter 2nd number55
55 is greater than 22

In [ ]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))

if(a > b):                                #(22 > 55)
  print(a, "is greater than", b)
elif(a==b):
  print(a, "is equal to ", b )
else:
  print(b, "is greater than", a )

Enter 1st number20
Enter 2nd number50
50 is greater than 20

In [ ]:
# find the minimum of 3 given number using(else-if)

x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))
z = int(input("Enter third integer: "))

if x <= y and x <= z:       # x<y<z
    min_value = x
elif (y <= x and y <= z):
    min_value = y
else:
    min_value = z

print("Minimum value:", min_value)

Enter first integer: 12
Enter second integer: 6
Enter third integer: 15
Minimum value: 6

# Loops

In [ ]:
#while loop

i =1
while i<10:
  print(i, "hello")
  i +=1

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [ ]:
num = 1
while num <5:         #1
  print(num)
  num +=2
else:
  print("number more than 5")

1
3
number more than 5

In [ ]:
number = int(input("enter number"))

i = 1
while(i <= 15):
  print(number,'*',i,'=',number*i)
  i +=1

enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75

In [ ]:
#for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,3):
  print(i)

1
4
7
10

In [ ]:
for i in "Anudip":
  print(i)

A
n
u
d
i
p

In [ ]:
for i in range(1, 11):
  if i == 7:
    print("lmao")
    break
  else:
    print(i)

1
2
3
4
5
6
lmao

*

**

***

****

In [ ]:
# nesteed loops
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
rows = int(input("enter number of rows "))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

enter number of rows 5
*
**
***
****
*****

# Functions

In [ ]:
def my_fun():
  print("Hello world")

In [ ]:
my_fun()

Hello world

In [ ]:
def f_name(name):
  print(name+ " Hello")

def f_name(name,colour):
  print(" Hello")

In [ ]:
f_name("rohit","green")

 Hello

In [ ]:
# function print         O/P: hello sagar parab
def fun(fname,lname):

In [ ]:
def fun(fname,lname):
  print("Hello",fname,lname)

In [ ]:
fun("Sakshi","shenvekar")

Hello Sakshi shenvekar